# put this .envrc above src so you can open your favorite editor in the root directory of the repo
# and still have to go path set to ./src/ where the go.mod file is located, so lsp works correctly
export GOPATH=$(pwd)/src 
